!
! Base Config
!
hostname {{ switch.hostname }}
!
interface Management1
   description Management
   ip address {{ switch.mgmt_ip }}/{{ switch.netmask }}
!
ip route 0.0.0.0/0 {{ switch.gateway }}
!
ip routing
!
